{% extends "MYDPlatformBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - Accueil
{% endblock %}

{% block mydplatform_body %}
<main class="flex">
  <section class="mainSection sidebar__section">
    <h3>Les annonces</h3>
    <ul class="nav nav-pills nav-stacked">
      <li><a href="{{ path('myd_platform_home') }}">Accueil</a></li>
      <li><a href="{{ path('myd_platform_add') }}">Ajouter une annonce</a></li>
    </ul>

    <hr>

    <h4>Dernières annonces</h4>
    {{ render(controller("MYDPlatformBundle:Advert:menu", {'limit': 3})) }}
  </section>

  <section class="mainSection flexColumn itemsCenter flex2">
  {% block advert_body %}
    <h2>Liste des annonces</h2>
    <ul>
      {% for advert in listAdverts %}
      <li>
        <a href="{{ path('myd_platform_view', {'id': advert.id}) }}">
          {{ advert.title }}
        </a>
        par {{ advert.author }},
        le {{ advert.date|date('d/m/Y') }}
      </li>
      {% else %}
      <li>Pas (encore !) d'annonces</li>
      {% endfor %}
    </ul>
  {% endblock %}
  </section>

</main>
{% endblock %}